.login-container {
  min-height: 100vh;
  background-image: url("../assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.login-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  height: 100%;
}

.login-form {
  position: relative;
  z-index: 2;
  background-color: white;
}



.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #006D59;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.forget{
  color: #006D59;
}